<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>Sundial</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>
<body ng-app="Sundial">
	
	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="../node_modules/angular-route/angular-route.min.js"></script>
	<script src="../node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="../app/scripts/app.js"></script>
</body>
</html>